.clients {
  padding: 60px 0px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
  &__link {
    @include align;
    width: 100%;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color $transition-duration cubic-bezier($cubic-bezier);

    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  }
  &__icon {
    fill: #afb1b8;
    transition: fill $transition-duration cubic-bezier($cubic-bezier);

    .clients__link:hover &,
    .clients__link:focus & {
      fill: $accent-color;
    }
  }
}
